[submodule "SDK/ESP8266_RTOS_SDK"]
	path = SDK/ESP8266_RTOS_SDK
	url = https://github.com/espressif/ESP8266_RTOS_SDK.git
[submodule "TestsFramework/CppUTest"]
	path = TestsFramework/CppUTest
	url = https://github.com/cpputest/cpputest.git
[submodule "SDK/MigrateAnyCppData"]
	path = SDK/MigrateAnyCppData
	url = https://github.com/viordash/MigrateAnyCppData.git
