name: Ats PLC

on:
  push:
    branches: [ "ci_cd" ]
  pull_request:
    branches: [ "main" ]

jobs:
  Tests-esp-idf:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Prepare main project
      working-directory: ./PLC_esp8266
      run: make project_prepare

    - name: Run tests
      working-directory: ./Tests_esp8266
      run: make run

      
  Build-ota-bin:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Prepare
      working-directory: ./PLC_esp8266
      run: make project_prepare

    - name: Requirements pip
      working-directory: ./SDK/ESP8266_RTOS_SDK
      run: python -m pip install --user -r requirements.txt

    - name: Build ota
      working-directory: ./PLC_esp8266
      run: make ota

    - name: Deploy
      uses: actions/upload-artifact@v4
      with:
        path: ./PLC_esp8266/build/AtsPLC-esp8266.ota.bin
        retention-days: 90 
